In [4]:
import numpy as np
import pandas as pd

In [5]:
dataset = "/home/eswecha/Desktop/water_quality.csv"
data = pd.read_csv(dataset, encoding='latin-1')

In [6]:
data.columns

Index(['State Name', 'District Name', 'Block Name', 'Panchayat Name',
       'Village Name', 'Habitation Name', 'Quality Parameter', 'Year',
       'Unnamed: 8'],
      dtype='object')

In [7]:
data[:1]

,State Name,District Name,Block Name,Panchayat Name,Village Name,Habitation Name,Quality Parameter,Year,Unnamed: 8
0,ASSAM,KOKRAJHAR,DOTOMA,SERFANGURI,SERFANGURI(INCLUDING,RUPGAON,Iron,1-04-2012,NaN

In [8]:
data.iloc[10]

State Name                      ASSAM
District Name               KOKRAJHAR
Block Name                     DOTOMA
Panchayat Name            BONGSHIGAON
Village Name              BONGSHIGAON
Habitation Name      SOUTH BONGSIGAON
Quality Parameter                Iron
Year                        1-04-2012
Unnamed: 8                        NaN
Name: 10, dtype: object

In [9]:
data.describe()

,State Name,District Name,Block Name,Panchayat Name,Village Name,Habitation Name,Quality Parameter,Year,Unnamed: 8
count,104160,104160,104160,104160,104160,104160,104156,104156,2
unique,24,356,2140,20198,42817,76403,8,3,1
top,RAJASTHAN,BARMER,BARMER,RATANPUR,RAMPUR,HARIJAN TOLA,Iron,1-04-2012,1-04-2012
freq,26729,10570,1983,185,123,577,56139,104154,2

In [10]:
iron_data = data[data['Quality Parameter'] == 'Iron']
len(iron_data)

56139

In [11]:
iron_data.describe()

,State Name,District Name,Block Name,Panchayat Name,Village Name,Habitation Name,Quality Parameter,Year,Unnamed: 8
count,56139,56139,56139,56139,56139,56139,56139,56139,0.0
unique,21,225,1286,10918,24376,40011,1,1,0.0
top,ASSAM,SUPAUL,BASANTPUR,RATANPUR,RAMPUR,HARIJAN TOLA,Iron,1-04-2012,NaN
freq,14742,2500,515,178,97,377,56139,56139,NaN

In [12]:
p = data['Quality Parameter']

In [13]:
p.unique()

array(['Iron', 'Arsenic', 'Salinity', 'Fluoride', 'Nitrate', nan,
       'RAGHUNATH PURA', 'ACOLONY,iron', 'SARPANCH /KAMALA PADAR'],
      dtype=object)

In [14]:
all_counts = p.value_counts()
all_counts

Iron                      56139
Salinity                  22957
Fluoride                  17985
Arsenic                    4314
Nitrate                    2758
ACOLONY,iron                  1
SARPANCH /KAMALA PADAR        1
RAGHUNATH PURA                1
Name: Quality Parameter, dtype: int64

In [15]:
probabilities = p.value_counts() / p.count()

In [16]:
probabilities

Iron                      0.538990
Salinity                  0.220410
Fluoride                  0.172674
Arsenic                   0.041419
Nitrate                   0.026480
ACOLONY,iron              0.000010
SARPANCH /KAMALA PADAR    0.000010
RAGHUNATH PURA            0.000010
Name: Quality Parameter, dtype: float64

In [17]:
probabilities.keys()

Index(['Iron', 'Salinity', 'Fluoride', 'Arsenic', 'Nitrate', 'ACOLONY,iron',
       'SARPANCH /KAMALA PADAR', 'RAGHUNATH PURA'],
      dtype='object')

In [18]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly.graph_objs import Scatter, Figure, Layout, Histogram, Bar, Pie

init_notebook_mode(connected=True)

In [19]:
iplot([Scatter(x=probabilities.keys(), y=probabilities)])

In [59]:
# Get the counts for a given state
rajasthan = data[data['State Name'] == 'RAJASTHAN']

In [60]:
rajasthan_stats = rajasthan['Quality Parameter']

In [61]:
rajasthan_stats = rajasthan_stats.value_counts() / rajasthan_stats.count()
rajasthan_stats

Salinity    0.707995
Fluoride    0.266751
Nitrate     0.023345
Iron        0.001721
Arsenic     0.000187
Name: Quality Parameter, dtype: float64

In [62]:
iplot([Scatter(x=rajasthan_stats.keys(), y=rajasthan_stats),
      Scatter(x=probabilities.keys(), y=probabilities)])

In [63]:
iplot([Bar(x=rajasthan_stats.keys(), y=rajasthan_stats.values),
      Bar(x=probabilities.keys(), y=probabilities)])

In [64]:
iplot([Pie(labels=rajasthan_stats.keys(), values=rajasthan_stats.values)])
iplot([Pie(labels=probabilities.keys(), values=probabilities)])

In [67]:
all_states = data['State Name']
all_states = all_states.value_counts() / all_states.count()
all_states

RAJASTHAN            0.256615
ASSAM                0.153408
BIHAR                0.139977
ORISSA               0.119672
CHHATTISGARH         0.084629
TRIPURA              0.056980
KARNATAKA            0.056404
WEST BENGAL          0.052304
MADHYA PRADESH       0.026776
MAHARASHTRA          0.016043
KERALA               0.008967
UTTAR PRADESH        0.008468
TAMIL NADU           0.005069
JHARKHAND            0.003955
ANDHRA PRADESH       0.003802
GUJARAT              0.002631
NAGALAND             0.001248
ARUNACHAL PRADESH    0.001104
MEGHALAYA            0.000931
PUNJAB               0.000317
JAMMU AND KASHMIR    0.000288
UTTARAKHAND          0.000163
HARYANA              0.000163
PUDUCHERRY           0.000086
Name: State Name, dtype: float64

In [68]:
iplot([Bar(x=all_states.keys(), y=all_states)])

In [70]:
state_names = data['State Name'].unique()
state_names

array(['ASSAM', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'BIHAR', 'GUJARAT',
       'JAMMU AND KASHMIR', 'KARNATAKA', 'HARYANA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MEGHALAYA', 'NAGALAND', 'ORISSA',
       'PUNJAB', 'RAJASTHAN', 'PUDUCHERRY', 'TAMIL NADU', 'TRIPURA',
       'UTTAR PRADESH', 'WEST BENGAL', 'CHHATTISGARH', 'JHARKHAND',
       'UTTARAKHAND'], dtype=object)

In [71]:
statewise = {}
for state_name in state_names:
    state_data = data[data['State Name'] == state_name]
    statewise[state_name] = state_data['Quality Parameter'].value_counts()

In [72]:
statewise_values = pd.DataFrame(statewise)

In [73]:
statewise_values

,ASSAM,ANDHRA PRADESH,ARUNACHAL PRADESH,BIHAR,GUJARAT,JAMMU AND KASHMIR,KARNATAKA,HARYANA,KERALA,MADHYA PRADESH,...,PUNJAB,RAJASTHAN,PUDUCHERRY,TAMIL NADU,TRIPURA,UTTAR PRADESH,WEST BENGAL,CHHATTISGARH,JHARKHAND,UTTARAKHAND
Arsenic,1157.0,NaN,NaN,1004.0,NaN,NaN,19,NaN,NaN,NaN,...,NaN,5,NaN,NaN,NaN,9,2119.0,NaN,1.0,NaN
Fluoride,80.0,332.0,NaN,2698.0,57.0,2.0,2806,12.0,106.0,2485.0,...,19.0,7130,NaN,5.0,NaN,144,873.0,313.0,41.0,2.0
Iron,14742.0,NaN,115.0,10877.0,NaN,22.0,938,NaN,585.0,156.0,...,1.0,46,8.0,405.0,5935.0,23,1955.0,8339.0,369.0,13.0
Nitrate,NaN,NaN,NaN,1.0,153.0,NaN,1378,NaN,57.0,NaN,...,NaN,624,NaN,7.0,NaN,1,NaN,NaN,1.0,2.0
Salinity,NaN,64.0,NaN,NaN,64.0,6.0,734,5.0,186.0,148.0,...,13.0,18924,1.0,111.0,NaN,705,501.0,163.0,NaN,NaN

In [74]:
statewise_values = statewise_values.fillna(0)

In [75]:
statewise_values.describe()

,ASSAM,ANDHRA PRADESH,ARUNACHAL PRADESH,BIHAR,GUJARAT,JAMMU AND KASHMIR,KARNATAKA,HARYANA,KERALA,MADHYA PRADESH,...,PUNJAB,RAJASTHAN,PUDUCHERRY,TAMIL NADU,TRIPURA,UTTAR PRADESH,WEST BENGAL,CHHATTISGARH,JHARKHAND,UTTARAKHAND
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,3195.800000,79.200000,23.000000,2916.000000,54.800000,6.000000,1175.000000,3.400000,186.800000,557.800000,...,6.600000,5345.800000,1.80000,105.600000,1187.000000,176.400000,1089.600000,1763.000000,82.400000,3.400000
std,6473.135345,144.011111,51.429563,4584.786527,62.727187,9.273618,1035.417307,5.272571,232.827619,1080.018611,...,8.848729,8161.775309,3.49285,173.683045,2654.212689,301.159094,920.485633,3678.403662,161.163892,5.458938
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.000000,0.000000,0.000000,0.000000,...,0.000000,5.000000,0.00000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,734.000000,0.000000,57.000000,0.000000,...,0.000000,46.000000,0.00000,5.000000,0.000000,9.000000,501.000000,0.000000,1.000000,0.000000
50%,80.000000,0.000000,0.000000,1004.000000,57.000000,2.000000,938.000000,0.000000,106.000000,148.000000,...,1.000000,624.000000,0.00000,7.000000,0.000000,23.000000,873.000000,163.000000,1.000000,2.000000
75%,1157.000000,64.000000,0.000000,2698.000000,64.000000,6.000000,1378.000000,5.000000,186.000000,156.000000,...,13.000000,7130.000000,1.00000,111.000000,0.000000,144.000000,1955.000000,313.000000,41.000000,2.000000
max,14742.000000,332.000000,115.000000,10877.000000,153.000000,22.000000,2806.000000,12.000000,585.000000,2485.000000,...,19.000000,18924.000000,8.00000,405.000000,5935.000000,705.000000,2119.000000,8339.000000,369.000000,13.000000

In [76]:
# Mean for each state
statewise_values.mean()

ASSAM                3195.8
ANDHRA PRADESH         79.2
ARUNACHAL PRADESH      23.0
BIHAR                2916.0
GUJARAT                54.8
JAMMU AND KASHMIR       6.0
KARNATAKA            1175.0
HARYANA                 3.4
KERALA                186.8
MADHYA PRADESH        557.8
MAHARASHTRA           334.2
MEGHALAYA              19.4
NAGALAND               26.0
ORISSA               2493.0
PUNJAB                  6.6
RAJASTHAN            5345.8
PUDUCHERRY              1.8
TAMIL NADU            105.6
TRIPURA              1187.0
UTTAR PRADESH         176.4
WEST BENGAL          1089.6
CHHATTISGARH         1763.0
JHARKHAND              82.4
UTTARAKHAND             3.4
dtype: float64

In [77]:
#Transposed data
elementwise_values = statewise_values.transpose()
elementwise_values

                   Arsenic  Fluoride     Iron  Nitrate  Salinity
ASSAM               1157.0      80.0  14742.0      0.0       0.0
ANDHRA PRADESH         0.0     332.0      0.0      0.0      64.0
ARUNACHAL PRADESH      0.0       0.0    115.0      0.0       0.0
BIHAR               1004.0    2698.0  10877.0      1.0       0.0
GUJARAT                0.0      57.0      0.0    153.0      64.0
JAMMU AND KASHMIR      0.0       2.0     22.0      0.0       6.0
KARNATAKA             19.0    2806.0    938.0   1378.0     734.0
HARYANA                0.0      12.0      0.0      0.0       5.0
KERALA                 0.0     106.0    585.0     57.0     186.0
MADHYA PRADESH         0.0    2485.0    156.0      0.0     148.0
MAHARASHTRA            0.0     483.0    337.0    509.0     342.0
MEGHALAYA              0.0       0.0     97.0      0.0       0.0
NAGALAND               0.0       0.0    130.0      0.0       0.0
ORISSA                 0.0     398.0  11051.0     25.0     991.0
PUNJAB                 0.0      19.0      1.0      0.0      13.0
RAJASTHAN              5.0    7130.0     46.0    624.0   18924.0
PUDUCHERRY             0.0       0.0      8.0      0.0       1.0
TAMIL NADU             0.0       5.0    405.0      7.0     111.0
TRIPURA                0.0       0.0   5935.0      0.0       0.0
UTTAR PRADESH          9.0     144.0     23.0      1.0     705.0
WEST BENGAL         2119.0     873.0   1955.0      0.0     501.0
CHHATTISGARH           0.0     313.0   8339.0      0.0     163.0
JHARKHAND              1.0      41.0    369.0      1.0       0.0
UTTARAKHAND            0.0       2.0     13.0      2.0       0.0

In [ ]:
elementwise_values.mean()

In [78]:
iplot([Bar(x=statewise_values.keys(), y=statewise_values.loc[i], name=i) for i in statewise_values.index])

In [ ]:
means = elementwise_values.mean()

In [ ]:
iplot([Bar(x=means.keys(), y=means)])

In [ ]:
statemeans = statewise_values.mean()
iplot([Bar(x=statemeans.keys(), y=statemeans)])

In [79]:
statenames = data.groupby(['State Name'])

In [80]:
statenames.describe()

                  Block Name                             District Name         \
                       count unique            top  freq         count unique
State Name
ANDHRA PRADESH           396     91      PAMUR(52)    50           396     15
ARUNACHAL PRADESH        115      8  KIMIN-DOIMUKH    66           115      4
ASSAM                  15979    206         CHATIA   409         15979     25
BIHAR                  14580    213        KATORIA   664         14580     27
CHHATTISGARH            8815    126         NAGARI   304          8815     24
GUJARAT                  274     27       AMIRGADH    35           274      9
HARYANA                   17     10        Jhajjar     4            17      5
JAMMU AND KASHMIR         30     16         SUMBAL     7            30     10
JHARKHAND                412     71        KUNDHIT    50           412     15
KARNATAKA               5875    140       PAVAGADA   312          5875     29
KERALA                   934    102   CHAMBAKKULAM    49           934     14
MADHYA PRADESH          2789    120        NALCHHA   130          2789     23
MAHARASHTRA             1671    205          VASAI    90          1671     31
MEGHALAYA                 97      5         ZIKZAK    49            97      2
NAGALAND                 130     11     MEDZIPHEMA    47           130      5
ORISSA                 12465    277       NIMAPARA   399         12465     30
PUDUCHERRY                 9      2      VILLIANUR     8             9      1
PUNJAB                    33     11          KHERA    16            33      7
RAJASTHAN              26729    195         BARMER  1983         26729     31
TAMIL NADU               528     38       KOLLIDAM    94           528     10
TRIPURA                 5935     45     JAMPAIJALA   314          5935      8
UTTAR PRADESH            882     50       ETMADPUR    81           882     14
UTTARAKHAND               17      6         LAKSAR     7            17      2
WEST BENGAL             5448    202      MAYNAGURI   407          5448     17

                                             Habitation Name         ...    \
                                  top   freq           count unique  ...
State Name                                                           ...
ANDHRA PRADESH           PRAKASAM(08)    198             396    396  ...
ARUNACHAL PRADESH          PAPUM PARE     66             115    115  ...
ASSAM                        SONITPUR   1990           15979  12990  ...
BIHAR                          SUPAUL   2500           14580   7916  ...
CHHATTISGARH                  JASHPUR    973            8815   5067  ...
GUJARAT                  BANAS KANTHA     99             274    272  ...
HARYANA                       GURGAON      6              17     17  ...
JAMMU AND KASHMIR              BUDGAM      8              30     29  ...
JHARKHAND                     JAMTARA    109             412    343  ...
KARNATAKA                      TUMKUR   1300            5875   5341  ...
KERALA                       PALAKKAD    205             934    506  ...
MADHYA PRADESH                   DHAR    795            2789   2185  ...
MAHARASHTRA                   BULDANA    230            1671   1558  ...
MEGHALAYA             WEST GARO HILLS     93              97     97  ...
NAGALAND                      DIMAPUR    119             130    130  ...
ORISSA                           PURI   1889           12465   9132  ...
PUDUCHERRY                 PUDUCHERRY      9               9      9  ...
PUNJAB                FATEHGARH SAHIB     20              33     33  ...
RAJASTHAN                      BARMER  10570           26729  20863  ...
TAMIL NADU               NAGAPATTINAM    295             528    522  ...
TRIPURA                  WEST TRIPURA   1057            5935   5233  ...
UTTAR PRADESH                    AGRA    484             882    866  ...
UTTARAKHAND                   HARDWAR     16              17     17  ...
WEST BENGAL        NORTH 24 PARAGANAS    864            5448   4369  ...

                  Quality Parameter        Village Name         \
                                top   freq        count unique
State Name
ANDHRA PRADESH             Fluoride    332          396    267
ARUNACHAL PRADESH              Iron    115          115    114
ASSAM                          Iron  14742        15979   7610
BIHAR                          Iron  10877        14580   4320
CHHATTISGARH                   Iron   8339         8815   4507
GUJARAT                     Nitrate    153          274    227
HARYANA                    Fluoride     12           17     16
JAMMU AND KASHMIR              Iron     22           30     26
JHARKHAND                      Iron    369          412    321
KARNATAKA                  Fluoride   2806         5875   4264
KERALA                         Iron    585          934    371
MADHYA PRADESH             Fluoride   2485         2789   1861
MAHARASHTRA                 Nitrate    509         1671   1431
MEGHALAYA                      Iron     97           97     56
NAGALAND                       Iron    130          130    130
ORISSA                         Iron  11051        12465   7019
PUDUCHERRY                     Iron      8            9      7
PUNJAB                     Fluoride     19           33     33
RAJASTHAN                  Salinity  18924        26729   7364
TAMIL NADU                     Iron    405          528    172
TRIPURA                        Iron   5935         5935    915
UTTAR PRADESH              Salinity    705          882    457
UTTARAKHAND                    Iron     13           17     17
WEST BENGAL                 Arsenic   2119         5448   2753

                                              Year
                                   top freq  count unique        top   freq
State Name
ANDHRA PRADESH     P.NAGULAVARAM(001 )    7    396      1  1-04-2012    396
ARUNACHAL PRADESH          DEOBEEL-III    2    115      1  1-04-2012    115
ASSAM                       DULIA GAON   29  15979      1  1-04-2012  15979
BIHAR                           RAMPUR   81  14580      1  1-04-2012  14580
CHHATTISGARH                    BARSUR   24   8815      1  1-04-2012   8815
GUJARAT                         ALIPOR    6    274      1  1-04-2012    274
HARYANA                 SAIDPUR MOHMAD    2     17      1  1-04-2012     17
JAMMU AND KASHMIR           CHATTERGUL    3     30      1  1-04-2012     30
JHARKHAND                        JHIRI    9    412      1  1-04-2012    412
KARNATAKA                    HOSAHALLI   18   5875      1  1-04-2012   5875
KERALA                    PATHANAPURAM   15    934      1  1-04-2012    934
MADHYA PRADESH                 JAULANA   17   2789      1  1-04-2012   2789
MAHARASHTRA                  PANDOZARI   14   1671      1  1-04-2012   1671
MEGHALAYA                       JOYFAR    5     97      1  1-04-2012     97
NAGALAND              NIKISHE (NIKIHE)    1    130      1  1-04-2012    130
ORISSA                         NUAGAON   35  12465      1  1-04-2012  12465
PUDUCHERRY                    KODATHUR    3      9      1  1-04-2012      9
PUNJAB                           HARNA    1     33      1  1-04-2012     33
RAJASTHAN                 BHANDOO JATI   69  26729      1  1-04-2012  26729
TAMIL NADU            THEPPERUMANALLUR   16    528      1  1-04-2012    528
TRIPURA                    MADHYA PARA   50   5935      1  1-04-2012   5935
UTTAR PRADESH                SUDAMAPUR   25    882      1  1-04-2012    882
UTTARAKHAND                   BIJOPURA    1     17      1  1-04-2012     17
WEST BENGAL                  SAPTIBARI   93   5448      1  1-04-2012   5448

[24 rows x 28 columns]

In [81]:
statenames['Quality Parameter'].value_counts()

State Name         Quality Parameter
ANDHRA PRADESH     Fluoride               332
                   Salinity                64
ARUNACHAL PRADESH  Iron                   115
ASSAM              Iron                 14742
                   Arsenic               1157
                   Fluoride                80
BIHAR              Iron                 10877
                   Fluoride              2698
                   Arsenic               1004
                   Nitrate                  1
CHHATTISGARH       Iron                  8339
                   Fluoride               313
                   Salinity               163
GUJARAT            Nitrate                153
                   Salinity                64
                   Fluoride                57
HARYANA            Fluoride                12
                   Salinity                 5
JAMMU AND KASHMIR  Iron                    22
                   Salinity                 6
                   Fluoride                 2
JHARKHAND          Iron                   369
                   Fluoride                41
                   Arsenic                  1
                   Nitrate                  1
KARNATAKA          Fluoride              2806
                   Nitrate               1378
                   Iron                   938
                   Salinity               734
                   Arsenic                 19
                                        ...
ORISSA             Salinity               991
                   Fluoride               398
                   Nitrate                 25
PUDUCHERRY         Iron                     8
                   Salinity                 1
PUNJAB             Fluoride                19
                   Salinity                13
                   Iron                     1
RAJASTHAN          Salinity             18924
                   Fluoride              7130
                   Nitrate                624
                   Iron                    46
                   Arsenic                  5
TAMIL NADU         Iron                   405
                   Salinity               111
                   Nitrate                  7
                   Fluoride                 5
TRIPURA            Iron                  5935
UTTAR PRADESH      Salinity               705
                   Fluoride               144
                   Iron                    23
                   Arsenic                  9
                   Nitrate                  1
UTTARAKHAND        Iron                    13
                   Fluoride                 2
                   Nitrate                  2
WEST BENGAL        Arsenic               2119
                   Iron                  1955
                   Fluoride               873
                   Salinity               501
Name: Quality Parameter, Length: 74, dtype: int64

In [ ]:
statevalue_counts = statenames['Quality Parameter'].value_counts()